#Main
URL_FRONT=<http://localhost:8000> #URL фронта

#Postgres
POSTGRES_HOST=<postgres> #Название контейнера в Docker
POSTGRES_PORT=<5432> #Порт по умолчанию
POSTGRES_USER=<postgres> #Пользователь
POSTGRES_PASSWORD=<postgres> #Пароль
POSTGRES_DB=<postgres> #Название базы данных

#Minio
MINIO_ROOT_USER=<minioadmin> #Логин для входа в minio
MINIO_ROOT_PASSWORD=<minioadmin> #Пароль для входа в minio
MINIO_HOST=<minio> #Хост по умолчанию для minio
MINIO_PORT=9000 #Порт minio
MINIO_BUCKET_NAME=<test> #Название бакета


#Pgadmin
PGADMIN_DEFAULT_EMAIL=<admin@example.com> #Логин для входа в pgadmin
PGADMIN_DEFAULT_PASSWORD=<admin> #Пароль для входа в pgadmin