#Main
URL_FRONT=<http://localhost:8000> #URL фронта

#Postgres
POSTGRES_HOST=<postgres> #Название контейнера в Docker
POSTGRES_PORT=<5432> #Порт по умолчанию
POSTGRES_USER=<postgres> #Пользователь
POSTGRES_PASSWORD=<postgres> #Пароль
POSTGRES_DB=<postgres> #Название базы данных

#Pgadmin
PGADMIN_DEFAULT_EMAIL=<admin@example.com> #Логин для входа в pgadmin
PGADMIN_DEFAULT_PASSWORD=<admin> #Пароль для входа в pgadmin